  <div class="nav_box_ss_page">
      <%= render 'users/search_address' %>
        <%= link_to 'New Share-Space Listing', new_sharespace_venue_path, class: "new_sharespace" if user_signed_in? %>
  </div>

<% if @nearest_me %>
<p> Your closest listing is <%= link_to @nearest_me.name, @nearest_me %> in <%= @nearest_me.address.city_suburb %></p>
<% end %>
<div class="listing_layout">
<div class="listings">

  <h3>Featured Share-Spaces in your area.</h3>
  <div class="tiles">
    <% if @addresses != nil %>
      <% @addresses.each do |address| listing = address.addressable %>
        <%= render partial: 'tiles', :locals => {:listing => listing} %>
      <% end %>
    <% end %>
  </div>

  <h3>Share-Spaces.</h3>

  <div class="tiles">
    <% if @addresses != nil %>
      <% @addresses.each do |address| listing = address.addressable %>
        <%= render partial: 'tiles', :locals => {:listing => listing} %>
      <% end %>
    <% end %>
  </div>


</div>
<div id="map"></div>

</div>
   <script>
     var map;
     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         zoom: 15,
         <% if SharespaceVenue.first != nil && SharespaceVenue.first.address.latitude != nil %>
         center: new google.maps.LatLng(<%= SharespaceVenue.first.address.latitude %>, <%= SharespaceVenue.first.address.longitude %>),
         <% else %>
         center: new google.maps.LatLng(-27.4698, 153.0251),
         <% end %>
         mapTypeId: 'roadmap'
       });
// THIS SECTION IS FOR ICONS/Images
       var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';


// THIS SECTION IS FOR all the iterated locations

       var features = [
         <% @addresses.each do |address| %>

           <% if address.longitude != nil %>
         {
           position: new google.maps.LatLng(<%= address.latitude %>, <%= address.longitude %>),
           // <% if address.addressable.photos.first != nil %>
           // url: '<%= address.addressable.photos.first.image_url %>',
           // scaledSize : new google.maps.Size(35, 35),
           // <% end %>

         },
         <% end %>
         <% end %>
       ];

       // Create markers.
       features.forEach(function(feature) {
         var marker = new google.maps.Marker({
           position: feature.position,
           icon: {url: feature.url,
                  scaledSize : new google.maps.Size(35, 35),
                    },
           map: map
         });
       });
     }
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_u77wbZStldL82_gGDInvPlanmANOyl8&callback=initMap">
   </script>
<br>
