<!-- <p id="notice"><%= notice %></p> -->
<style type="text/css">
    .bgimg
    {
      <% if @sharespace_venue.photos.count == 0 %>
      background-image: url('/assets/default-image.png');
      <% else %>
      background-image: url('<%= profile_photo_display(@sharespace_venue, "url_only") %>');
      <% end %>
    }
</style>

<div class="main_image bgimg" >
</div>



<main class="main_section">

  <div class="tool_bar">

    <% if user_signed_in? && current_user.can_update?(@sharespace_venue) %>

      <p class="tools open_new_ss">Add a sharespace to your venue!</p>
      <p class="tools open_add_image">Add an image.</p>
      <p class="tools open_edit_address">Edit Address</p>
      <p class="tools open_edit_venue">Edit Share-Space</p>

    <% end %>
  </div>

  <div class="split_grid">
    <div class="left">
      <div class="summary listing_info">
        <p>Type-placeholder</p>
        <h1><%= @sharespace_venue.name %></h1>
        <h4><%= @sharespace_venue.address.vague_address %></h4>
        <p><%= "#{@sharespace_venue.user.first_name} #{@sharespace_venue.user.last_name}" %></p>
        <p><%= rating_average(@sharespace_venue) %></p>
      </div>
      <div class="details listing_info">
        <p>
          <strong>Description</strong>
          <%= @sharespace_venue.description %>
        </p>
      </div>

      <div class="rules listing_info">
        <p>
          <strong>Rules</strong>
          <%= @sharespace_venue.rules %>
        </p>
      </div>
      <div class="surrounding_area_description listing_info last">
        <p>
          <strong>Surrounding area</strong>
          <%= @sharespace_venue.surrounding_area_description %>
        </p>
      </div>
   </div>

    <div class="right">

      <div class="ss_section">
        <h5 style="margin: 0;">Share-Spaces</h5>
        <div class="sharespace_tiles">
          <% @sharespace_venue.sharespaces.each do |sharespace| %>
          <div class="sharespace">
            <div class="ss_image_show"><%= link_to (profile_photo_display(sharespace, "thumb_photo")), sharespace %></div>
            <h5 style="margin-bottom: 0;"><%= link_to sharespace.space_type, sharespace %></h5>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_sharespace_venue_path(sharespace) if current_user.can_update?(@sharespace_venue) %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

      <td>
        <iframe
        width="100%"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB8sC_5Vo_Mk5YOxQ9sbeIL6dN6PQNTJus
          &q=<%= @sharespace_venue.address.full_street_address %>" allowfullscreen>
        </iframe>
      </td>

      <div class="review_section">
        <h5 style="margin: 0;">Reviews</h5>
        <div class="reviews">
          <% @sharespace_venue.reviews.order(created_at: :desc).each do |review| %>
          <div class="review">
            <h5 style="margin-bottom: 0;"><%= link_to review.reference.user.fullname, review %>
              <span class="date"><%= review.created_at.strftime("%d %b %Y") %></span></h5>

            <% review_rating = review.rating %>
            <% anti_rating = 5 - review_rating  %>

            <% until review_rating == 0 %>
              <span class='fa fa-star checked_star'></span>
              <% review_rating -= 1 %>
            <% end %>

            <% until anti_rating == 0 %>
              <span class='fa fa-star'></span>
              <% anti_rating -= 1 %>
            <% end %>

            <p><%= review.review  %></p>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_review_path(review) if current_user.can_update?(review.reference) %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</main>




<!-- Hidden image render -->
<div class="form_container add_image hide">
  <div class="form_render">
    <div class="button_box"><p class="close_form close_box">&times;</p></div>
    <%= render 'photos/form', photo: Photo.new, photoable_object: @sharespace_venue if user_signed_in? && current_user.can_update?(@sharespace_venue)  %>
  </div>
</div>

<!-- Hidden edit address render -->
<div class="form_container edit_address hide">
  <div class="form_render">
    <div class="button_box"><p class="close_form close_box">&times;</p></div>
    <%= render 'addresses/form', address: @sharespace_venue.address if user_signed_in? && current_user.can_update?(@sharespace_venue) %>
  </div>
</div>

<!-- Hidden edit sharespace_venue render -->
<div class="form_container edit_venue hide">
  <div class="form_render">
    <div class="button_box"><p class="close_form close_add_image">&times;</p></div>
    <%= render 'form', sharespace_venue: @sharespace_venue if user_signed_in? && current_user.can_update?(@sharespace_venue)  %>
  </div>
</div>

<!-- Hidden new sharespace render -->
<div class="form_container new_ss new_ hide">
  <div class="form_render">
    <div class="button_box"><p class="close_form close_add_image">&times;</p></div>
    <%= render 'sharespaces/form', sharespace: Sharespace.new, sharespace_venue: @sharespace_venue if user_signed_in? && current_user.can_update?(@sharespace_venue)  %>
  </div>
</div>



<div class="form_bg hide close_box">
</div>


<script>
// Closes all boxes
$(document).ready(function(){
  $(".close_box").click(function(){
    $(".form_container").addClass('hide')
    $(".form_bg").addClass('hide')
  });
});

// Image form render JS.
$(document).ready(function(){
  $(".open_add_image").click(function(){
    $(".add_image").removeClass('hide')
    $(".form_bg").removeClass('hide')
  });
});

// Adress edit form render JS.
$(document).ready(function(){
  $(".open_edit_address").click(function(){
    $(".edit_address").removeClass('hide')
    $(".form_bg").removeClass('hide')
  });
});

// Venue edit form render JS.
$(document).ready(function(){
  $(".open_edit_venue").click(function(){
    $(".edit_venue").removeClass('hide')
    $(".form_bg").removeClass('hide')
  });
});

// New sharespace form render JS.
$(document).ready(function(){
  $(".open_new_ss").click(function(){
    $(".new_ss").removeClass('hide')
    $(".form_bg").removeClass('hide')
  });
});


</script>
