


<div class="landing_page">
  <%= image_tag("coworking.jpg", class: "landing_image") %>
  <div class="blue_box">
    <h1>Share-Space</h1>
    <%= render 'search_address' %>
  </div>
</div>


<div class="page_contents">

  <h3>Featured Share-Spaces</h3>
  <div class="tiles">
    <% count = 5 %>
    <% until count == 0 %>
    <div class="item">
      <div class="tile_image"><%= image_tag("default-image.png") %></div>
      <h4>Co-space name</h4>
      <p>Price</p>
      <p>Rating</p>
    </div>
    <% count -= 1 %>
    <% end %>
  </div>

  <h3>Featured Projects</h3>
  <div class="tiles">

    <% count = 5 %>
    <% until count == 0 %>
    <div class="item">
      <div class="tile_image"><%= image_tag("default-image.png") %></div>
      <h4>Project name</h4>
      <p><strong>Project brief</strong></p>
      <p><%= short_description(nil) %></p>
    </div>
    <% count -= 1 %>
    <% end %>

  </div>

  <h3>Featured Blogs</h3>
  <div class="tiles">
    <% count = 5 %>
    <% until count == 0 %>
    <div class="item">
      <div class="tile_image"><%= image_tag("default-image.png") %></div>
      <h4>Blog title</h4>
      <p><%= short_description(nil) %></p>
    </div>
    <% count -= 1 %>
    <% end %>
  </div>



</div>
