<%= form_for(set_listing_address(collab_space_listing)) do |form| %>
  <% if collab_space_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collab_space_listing.errors.count, "error") %> prohibited this collab_space_listing from being saved:</h2>

      <ul>
      <% collab_space_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id, id: :collab_space_listing_user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :collab_space_listing_name %>
  </div>

  <div class="field">
    <%= form.label :brief_description %>
    <%= form.text_field :brief_description, id: :collab_space_listing_brief_description %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :collab_space_listing_description %>
  </div>

  <div class="field">
    <%= form.label :rules %>
    <%= form.text_area :rules, id: :collab_space_listing_rules %>
  </div>

  <div class="field">
    <%= form.label :surrounding_area_description %>
    <%= form.text_area :surrounding_area_description, id: :collab_space_listing_surrounding_area_description %>
  </div>

  <div class="field">
    <%= form.label :overall_rating %>
    <%= form.text_field :overall_rating, id: :collab_space_listing_overall_rating %>
  </div>

  <div class="field">
    <%= form.label :cost_per_day %>
    <%= form.text_field :cost_per_day, id: :collab_space_listing_cost_per_day %>
  </div>



  <%= form.fields_for :address do |f| %>

    <div class="field">
      <%= f.label :unit_num %>
      <%= f.text_field :unit_num, id: :address_unit_num %>
    </div>

    <div class="field">
      <%= f.label :street_num %>
      <%= f.text_field :street_num, id: :address_street_num %>
    </div>

    <div class="field">
      <%= f.label :street_name %>
      <%= f.text_field :street_name, id: :address_street_name %>
    </div>

    <div class="field">
      <%= f.label :street_type %>
      <%= f.text_field :street_type, id: :address_street_type %>
    </div>

    <div class="field">
      <%= f.label :city_suburb %>
      <%= f.text_field :city_suburb, id: :address_city_suburb %>
    </div>

    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, id: :address_state %>
    </div>

    <div class="field">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, id: :address_postcode %>
    </div>

    <div class="field">
      <%= f.label :country %>
      <%= f.text_field :country, id: :address_country %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
