<p id="notice"><%= notice %></p>

<h1>Collab Space Listings</h1>
<%= render 'search_address' %>
<p style="background:red;"><%= notice %></p>
<% if @nearest_me %>
<p> Your closest listing is <%= link_to @nearest_me.name, collab_space_listings_url(@nearest_me.id) %> in <%= @nearest_me.address.city_suburb %></p>
<% end %>
<div class="listing_layout">
<div class="listings">


  <% @addresses.each do |address| listing = address.addressable %>
  <div class="listing">
    <h5 style="margin-bottom: 0;"><%= link_to listing.name, listing %></h5>
    <p style="margin-top: 0;"><%=  listing.address.full_street_address %></p>
    <%= link_to 'Edit', edit_collab_space_listing_path(listing) %>
    <%= link_to 'Edit Address', edit_address_path(listing.address) %>
    <%= link_to 'Show', listing %>
  </div>

  <% end %>
</div>
<div id="map"></div>

</div>
   <script>
     var map;
     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         zoom: 16,
         center: new google.maps.LatLng(<%= CollabSpaceListing.first.address.latitude %>, <%= CollabSpaceListing.first.address.longitude %>),
         mapTypeId: 'roadmap'
       });
// THIS SECTION IS FOR ICONS/Images
       var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';


// THIS SECTION IS FOR all the iterated locations

       var features = [
         <% @addresses.each do |address| %>

           <% if address.longitude != nil %>
         {
           position: new google.maps.LatLng(<%= address.latitude %>, <%= address.longitude %>),
           <% if address.addressable.photos.first != nil %>
           url: '<% address.addressable.photos.first.image_url %>',
           scaledSize : new google.maps.Size(35, 35),
           <% end %>

         },
         <% end %>
         <% end %>
       ];

       // Create markers.
       features.forEach(function(feature) {
         var marker = new google.maps.Marker({
           position: feature.position,
           icon: {url: feature.url,
                  scaledSize : new google.maps.Size(35, 35),
                    },
           map: map
         });
       });
     }
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_u77wbZStldL82_gGDInvPlanmANOyl8&callback=initMap">
   </script>
<br>

<%= link_to 'New Collab Space Listing', new_collab_space_listing_path %>
