<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @sharespace.space_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sharespace.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @sharespace.cost %>
</p>

<p>
  <strong>Share space listing:</strong>
  <%= @sharespace.sharespace_venue %>
</p>

<%= render 'photos/form', photo: Photo.new, photoable_object: @sharespace if current_user.can_update?(@sharespace.sharespace_venue) %>

<%= link_to 'Make a Booking', new_booking_path(params:{sharespace_id: @sharespace.id}) %>

<%= link_to 'Edit', edit_sharespace_path(@sharespace) if current_user.can_update?(@sharespace.sharespace_venue) %>

<%= link_to 'Back', sharespaces_path %>
