<p id="notice"><%= notice %></p>
<style>
 /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
 #map {
   height: 100%;
 }
 /* Optional: Makes the sample page fill the window. */
 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
</style>
<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Street num</th>
      <th>Unit num</th>
      <th>Street name</th>
      <th>Street type</th>
      <th>Address type</th>
      <th>Address identifier</th>
      <th>City suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Map</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street_num %></td>
        <td><%= address.unit_num %></td>
        <td><%= address.street_name %></td>
        <td><%= address.street_type %></td>
        <td><%= address.address_type %></td>
        <td><%= address.address_identifier %></td>
        <td><%= address.city_suburb %></td>
        <td><%= address.state %></td>
        <td><%=  %></td>
        <td><%= "#{address.postcode}, #{address.country}#{address.postcode}, #{address.country}" %></td>
        <td><iframe
          width="250"
          height="250"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB8sC_5Vo_Mk5YOxQ9sbeIL6dN6PQNTJus
            &q=<%= address.full_street_address %>" allowfullscreen>
        </iframe></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="map"></div>
   <script>
     var map;
     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         zoom: 16,
         center: new google.maps.LatLng(<%= Address.first.latitude %>, <%= Address.first.longitude %>),
         mapTypeId: 'roadmap'
       });
// THIS SECTION IS FOR ICONS/Images
       var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
       var icons = {
         parking: {
           icon: iconBase + 'parking_lot_maps.png'
         },
         library: {
           icon: iconBase + 'library_maps.png'
         },
         info: {
           icon: iconBase + 'info-i_maps.png'
         }
       };
// THIS SECTION IS FOR all the iterated locations

       var features = [
         <% @addresses.each do |address| %>
         {
           position: new google.maps.LatLng(<%= address.latitude %>, <%= address.longitude %>),
           type: 'info'
         },
         <% end %>
       ];

       // Create markers.
       features.forEach(function(feature) {
         var marker = new google.maps.Marker({
           position: feature.position,
           icon: icons[feature.type].icon,
           map: map
         });
       });
     }
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_u77wbZStldL82_gGDInvPlanmANOyl8&callback=initMap">
   </script>

<br>

<%= link_to 'New Address', new_address_path %>
