<!DOCTYPE html>
<html>
  <head>
    <title>ShareSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js' %>
    <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.1/jquery-ui.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path, class: "navbar-brand" %>
      <%= link_to 'Share Spaces', sharespace_venues_path, class: "navbar-brand" %>
      <%= link_to 'Log out', destroy_user_session_path, class: "nav-link active", method: :delete if user_signed_in? %>
      <%= link_to 'Log In', new_user_session_path, class: "nav-link active" if !user_signed_in? %>
      <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link active" if !user_signed_in? %>
      <%= link_to "Profile", profile_url, class: "nav-link active" %>
      <%= link_to 'Admin', admin_url, class: "navbar-brand" if current_user.admin_only %>

      <%= link_to 'Your Booking', current_user.bookings.last, class: "nav-link active" if user_signed_in? && (current_user.bookings.count >= 1 && current_user.bookings.last.paid == false) %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
