<!DOCTYPE html>
<html>
  <head>
    <title>ShareSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js' %>
    <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.1/jquery-ui.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path, class: "navbar-brand" %>
      <%= link_to "Profile", current_user, class: "nav-link active" %>
      <%= link_to 'Log out', destroy_user_session_path, class: "nav-link active", method: :delete %>
      <%= link_to 'Log In', new_user_session_path, class: "nav-link active" %>
      <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link active" %>
      <%= link_to 'Your Booking', current_user.bookings.last, class: "nav-link active" if current_user.bookings.last.paid == false %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
